
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 { margin: 10px;}
.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000;
}

input {
    padding: 10px;
    outline: none;
    font-size: 17px;
    color: #fff;
    border: 1px solid #999;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 5px;
}
label { font-size: 18px;}
.from-to {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
}
.from-to select {
    padding: 9px;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    max-width: 160px;
}

.swap {
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;
}

.swap:hover {
    text-shadow: 0 0 5px #fff;
    transition: 0.4s ease;
}

button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.result {
    font-size: 16px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
}

@media(max-width: 412px) {
    h1 { font-size: 1.4rem; margin: 0;}
    .from-to {
        flex-direction: column;
        align-items: center;
    }
    .from-to select {
        max-width: 200px;
    }
}